.row
    .col-md-2.col-md-offset-2.col-xs-4
        div Adres:
    .col-xs-8
        div La Rambla 84, 08002 Barcelona
.row
    .col-md-2.col-md-offset-2.col-xs-4
        div Phone:
    .col-xs-8
        div +34 685 644 969
.row
    .col-md-2.col-md-offset-2.col-xs-4
        div E-mail:
    .col-xs-8
        div valartbcn@gmail.com