.row
    .col-md-10.col-md-offset-1
        .col-md-4.k-gallery-single-pic(data-gal-id="1")
            .thumbnail(href="#")
                img(src="images/gal/2013-Ferrari-458-Italia-Front-Three-Quarters-View.jpg" alt="")
                h3 Gallery 1
        .col-md-4.k-gallery-single-pic(data-gal-id="1")
            .thumbnail(href="#")
                img(src="images/gal/2016_ferrari_f12tdf_amazing_car_wallpapers_.jpg" alt="")
                h3 Gallery 2
        .col-md-4.k-gallery-single-pic(data-gal-id="1")
            .thumbnail
                img(src="images/gal/160061-car-Ferrari_GTC4Lusso_fr_3_4_LR.jpg" alt="")
                h3 Gallery 3
    .col-md-10.col-md-offset-1
        .col-md-4.k-gallery-single-pic(data-gal-id="1")
            .thumbnail
                img(src="images/gal/F40ferarri20090509.jpg" alt="")
                h3 Gallery 3
        .col-md-4.k-gallery-single-pic(data-gal-id="1")
            .thumbnail
                img(src="images/gal/Ferrari_288_GTO_(1).JPG" alt="")
                h3 Gallery 3
        .col-md-4.k-gallery-single-pic(data-gal-id="1")
            .thumbnail
                img(src="images/gal/gallery-1473707469-pictures-ferrari-f50-1995-5.jpg" alt="")
                h3 Gallery 3