.row
    .col-md-10.col-md-offset-1
        .col-md-4.k-gallery-single-pic(data-gal-id="1")
            .thumbnail
                img(src="images/gal/1/_RAW0118.jpg" alt="")
                h3.k-gall-header-3 Spain
        .col-md-4.k-gallery-single-pic(data-gal-id="2")
            .thumbnail(href="#")
                img(src="images/gal/2/2013-Ferrari-458-Italia-Front-Three-Quarters-View.jpg" alt="")
                h3.k-gall-header-3 Gallery 1
        .col-md-4.k-gallery-single-pic(data-gal-id="3")
            .thumbnail(href="#")
                img(src="images/gal/3/F40ferarri20090509.jpg" alt="")
                h3.k-gall-header-3 Gallery 2
    .col-md-10.col-md-offset-1
        .col-md-4.k-gallery-single-pic(data-gal-id="4")
            .thumbnail
                img(src="images/gal/4/GTC4LussoT_Ferrari_Lateral_Parking_01.jpg" alt="")
                h3.k-gall-header-3 Gallery 3
        .col-md-4.k-gallery-single-pic(data-gal-id="4")
            .thumbnail
                img(src="images/gal/4/GTC4LussoT_Ferrari_Lateral_Parking_01.jpg" alt="")
                h3.k-gall-header-3 Gallery 3
        .col-md-4.k-gallery-single-pic(data-gal-id="5")
            .thumbnail
                img(src="images/gal/5/LogoValArt_002.png" alt="")
                h3.k-gall-header-3 Logos 123
        