html {
    min-width: 800px;
    min-height: 600px;
}

body {
    background: url('../images/background_001.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav.navbar.navbar-default.navbar-static-top {
    background-color: rgba(0, 0, 0, 0);
    border-bottom-width: 0px;
    /*border-bottom-color: #0000d6;
    border-bottom-width: 3px; */
}

nav.k-nav {
    position: fixed;
    width: 14vw;
    height: 91vh;
    left: 24vw;
    background-color: rgba(255,255,255, 0.42);
    color: #fff;
    margin-top: 5vh;
    font-family: 'Guatami'
}

nav.k-nav ul.k-nav-bar {
    padding: 0px;
    margin-top: 10px;
}

nav.k-nav ul.k-nav-bar li {
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
    padding: 15px 0px;
    border-bottom: 3px solid transparent;
}

nav.k-nav ul.k-nav-bar li:hover {
    cursor: pointer;
    border-bottom: 3px solid gainsboro;
}

nav.k-nav ul.k-nav-bar li.active {
    border-bottom: 3px solid white;
}

nav.k-nav ul.k-nav-bar li a {
    color: #fff;
}

nav.k-nav ul.k-nav-bar li a:hover {
    text-decoration: none;
}

nav.k-nav ul.k-nav-bar hr.k-nav-bar-hr {
    margin: 0px;
    border-top: 4px solid #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.k-val-art-left-bottom,
.k-barcelona-left-bottom,
.k-top-right-container > .k-first-text-top,
.k-top-right-container > .k-second-text-top {
    color: red;
    font-family: 'Gabriola';
}

.k-bottom-left-container {
    position: fixed;
    top: 83vh;
    left: 5vw;
    text-align: center;
}

.k-val-art-left-bottom {
    font-size: 4em;
}

.k-barcelona-left-bottom {
    font-size: 2.4em;
    margin-top: -33px;
}

.k-top-right-container {
    position: fixed;
    top: 8vh;
    left: 56vw;
    text-align: center;
}

.k-first-text-top {
    font-size: 3em;
}

.k-second-text-top {
    font-size: 2.4em;
}

.k-val-kun-logo {
    position: fixed;
    left: 5.3vw;
    top: 1.5vh;
}

.k-val-kun-logo img {
    height: 26vh;
    max-width: 18.7vw;
}

/* GALLERY */
.k-single-gal {
    position: fixed;
    height: 50vh;
    width: 50vw;
    top: 31vh;
    left: 45vw;
}

#k-gallery-slider {
    border-radius: 10px;
    -moz-box-shadow: 0 0 20px 3px #fff;
    -webkit-box-shadow: 0 0 20px 3px #fff;
    box-shadow: 0 0 20px 3px #fff;
}

#k-gallery-slider > * {
    border-radius: 10px;
}

#k-gallery-slider img {
    border-radius: 10px;
}

/* BIO */
.k-bio-view {
    position: fixed;
    max-height: 50vh;
    width: 50vw;
    top: 31vh;
    left: 45vw;
    background-color: gray;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    /* padding-right: 20px; */
    
    color: white;

    -moz-box-shadow: 0 0 20px 3px #fff;
    -webkit-box-shadow: 0 0 20px 3px #fff;
    box-shadow: 0 0 20px 3px #fff;
}

.k-bio-container {
    width: calc(50vw - 20px);
    max-height: calc(50vh - 50px);
    overflow: auto;
    padding-right: 20px
}

.k-contacts-view {
    position: fixed;
    max-height: 50vh;
    width: 50vw;
    top: 31vh;
    left: 45vw;
    background-color: gray;
    color: white;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;

    -moz-box-shadow: 0 0 20px 3px #fff;
    -webkit-box-shadow: 0 0 20px 3px #fff;
    box-shadow: 0 0 20px 3px #fff;
}


/* CUSTOM SCROLLBAR - START */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ddd; 
    border-radius: 3px;
}
/* CUSTOM SCROLLBAR - END */