body {
    background: url('../images/background_001.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav.navbar.navbar-default.navbar-static-top {
    background-color: rgba(0, 0, 0, 0);
    border-bottom-width: 0px;
    /*border-bottom-color: #0000d6;
    border-bottom-width: 3px; */
}

nav.navbar.navbar-default.navbar-static-top .container-fluid .collapse.navbar-collapse ul.nav.navbar-nav li a {
    color: #0000d6;
    font-size: 2.7em;
    font-family: Aparajita;
    text-shadow: 1px 1px #000000;
}

nav.navbar.navbar-default.navbar-static-top .container-fluid .collapse.navbar-collapse ul.nav.navbar-nav li:hover {
    background-color: #cccccc;    
}

p.navbar-text.navbar-right.k-nav-name {
    color: #0000d6;
    font-size: 2.7em;
    font-family: Aparajita;
    text-shadow: 1px 1px #000000;
    margin-right: 1px;
    margin-top: 0px;
}

.home_first_header {
    text-align: center;
    font-family: Gabriola;
    color: #ff0707;
    font-size: 120px;
    text-shadow: 2px 2px #000000;
}

.k-autor-name {
    text-align: center;
    font-size: 4.7em;
    font-family: Aparajita;
    color: #0000d6;
    text-shadow: 1px 1px #000000;
}

.k-autor-job {
    text-align: center;
    font-size: 3em;
    font-family: Aparajita;
    color: #0000d6;
    text-shadow: 1px 1px #000000;
}

.k-second-header {
    text-align: center;
    font-family: Gabriola;
    color: #ff0707;
    font-size: 3em;
    text-shadow: 1px 1px #000000;
}

.col-xs-4.col-xs-offset-1 .services, .col-xs-3.col-xs-offset-3 .services,
.col-xs-3.col-xs-offset-1 .services, .col-xs-3 .services, .col-xs-4 .services { /* For extra small display!!! */
    font-size: 2em;
    font-family: Aparajita;
    color: #0000d6;
    text-shadow: 1px 1px #000000;
}

.col-sm-4.col-sm-offset-1 .services, .col-sm-3.col-sm-offset-3 .services,
.col-sm-3.col-sm-offset-1 .services, .col-sm-3 .services, .col-sm-4 .services { /* For small display!!! */
    font-size: 2em;
    font-family: Aparajita;
    color: #0000d6;
    text-shadow: 1px 1px #000000;
}

.col-md-4.col-md-offset-1 .services, .col-md-3.col-md-offset-3 .services,
.col-md-3.col-md-offset-1 .services, .col-md-3 .services, .col-md-4 .services { /* For middle display!!! */
    font-size: 2.5em;
    font-family: Aparajita;
    color: #0000d6;
    text-shadow: 1px 1px #000000;
}

.col-lg-4.col-lg-offset-1 .services, .col-lg-3.col-lg-offset-3 .services,
.col-lg-3.col-lg-offset-1 .services, .col-lg-3 .services, .col-lg-4 .services { /* For large display!!! */
    font-size: 2.7em;
    font-family: Aparajita;
    color: #0000d6;
    text-shadow: 1px 1px #000000;
}

.col-xs-4 .img-responsive.center-block { /* For extra small display!!! */
    height: 100%;
    width: 100%;
}

.col-sm-4 .img-responsive.center-block { /* For small display!!! */
    height: 70%;
    width: 70%;
}

.col-md-4 .img-responsive.center-block { /* For middle display!!! */
    height: 20%;
    width: 20%;
}

col-lg-4 .img-responsive.center-block { /* For large display!!! */
    height: 15%;
    width: 15%;
}

.k-studio-name-and-city {
    font-size: 2.4em;
    font-family: Aparajita;
    color: #0000d6;
    text-shadow: 1px 1px #000000;
    text-align: center;
}

.k-studio-phone {
    font-size: 3em;
    font-family: Aparajita;
    color: #0000d6;
    text-shadow: 1px 1px #000000;
    text-align: center;
}

.k-studio-address {
    font-size: 1.6em;
    font-family: Aparajita;
    color: #0000d6;
    text-shadow: 1px 1px #000000;
    text-align: center;
}

span.glyphicon.glyphicon-phone-alt {
    font-size: 0.62em;
}

.k-row-whit-yahoo {
    margin-top: 5px;
    margin-bottom: 5px;
}