html {
    width: 100%;
    height: 100%;
}

body {
    background: url('../images/background_001.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

nav.navbar.navbar-default.navbar-static-top {
    background-color: rgba(0, 0, 0, 0);
    border-bottom-width: 0px;
    /*border-bottom-color: #0000d6;
    border-bottom-width: 3px; */
}

nav.k-nav {
    position: fixed;
    width: 14vw;
    height: 91vh;
    left: 24vw;
    background-color: rgba(255,255,255, 0.42);
    color: #fff;
    margin-top: 5vh;
    font-family: 'Guatami'
}

/* PHONE */ 
nav.k-nav.phone {
    width: 28vw;
    height: 79vh;
    left: 8vw;
}

nav.k-nav ul.k-nav-bar {
    padding: 0px;
    margin-top: 10px;
}

nav.k-nav ul.k-nav-bar li {
    text-align: center;
    list-style-type: none;
    font-size: 1.2em;
    padding: 15px 0px;
    border-bottom: 3px solid transparent;
}

nav.k-nav ul.k-nav-bar li:hover {
    cursor: pointer;
    border-bottom: 3px solid gainsboro;
}

nav.k-nav ul.k-nav-bar li.active {
    border-bottom: 3px solid white;
}

nav.k-nav ul.k-nav-bar li a {
    color: #fff;
}

nav.k-nav ul.k-nav-bar li a:hover {
    text-decoration: none;
}

nav.k-nav ul.k-nav-bar hr.k-nav-bar-hr {
    margin: 0px;
    border-top: 4px solid #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.k-val-art-left-bottom,
.k-barcelona-left-bottom,
.k-top-right-container > .k-first-text-top,
.k-top-right-container > .k-second-text-top {
    color: red;
    font-family: 'Gabriola';
}

.k-bottom-left-container {
    position: fixed;
    top: 83vh;
    left: 5vw;
    text-align: center;
}

/* PHONE */
.k-bottom-left-container.phone {
    top: 87vh;
    left: 16vw;
}

.k-val-art-left-bottom {
    font-size: 4em;
}

.k-barcelona-left-bottom {
    font-size: 2.4em;
    margin-top: -33px;
}

/* TOP RIGHT TEXT */
.k-top-right-container {
    position: fixed;
    top: 8vh;
    left: 56vw;
    text-align: center;
}

/* TOP RIGHT TEXT PHONE */
.k-top-right-container.phone {
    top: 24vh;
    left: 53vw;
}

.k-first-text-top {
    font-size: 3em;
}

.k-second-text-top {
    font-size: 2.4em;
}

/* LOGO */
.k-val-kun-logo {
    position: fixed;
    left: 5.3vw;
    top: 1.5vh;
}

/* LOGO PHONE */ 
.k-val-kun-logo.phone {
    left: 53vw;
}

.k-val-kun-logo img {
    height: 28vh;
}

/* GALLERY */
.k-single-gal {
    position: fixed;
    height: 63%;
    width: 50%;
    top: 30%;
    left: 45%;
}

/* PHONE */ 
.k-single-gal.phone {
    top: 36%;
}


/* .k-single-gal > .row, 
.k-single-gal > .row > *,
.k-single-gal #k-gallery-slider,
.k-single-gal .k-images-container,
.k-single-gal .item.active {
    height: 100%;
} */


#k-gallery-slider {
    border-radius: 10px;
    -moz-box-shadow: 0 0 20px 3px #fff;
    -webkit-box-shadow: 0 0 20px 3px #fff;
    box-shadow: 0 0 20px 3px #fff;
}

#k-gallery-slider > * {
    border-radius: 10px;
}

#k-gallery-slider img {
    border-radius: 10px;
}

/* BIO */
.k-bio-view {
    position: fixed;
    max-height: 58%;
    width:  50%;
    top: 30%;
    left: 44%;

    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;

    background-color: gray;
    color: white;

    border-radius: 20px;
    -moz-box-shadow: 0 0 20px 3px #fff;
    -webkit-box-shadow: 0 0 20px 3px #fff;
    box-shadow: 0 0 20px 3px #fff;
}

/* PHONE */
.k-bio-view.phone {
    top: 36%;
}

.k-bio-container {
    width: 100%;
    max-height: 45vh;
    overflow: auto;
}

/* CONTACTS */
.k-contacts-view {
    position: fixed;
    max-height: 58%;
    width:  50%;
    top: 44%;
    left: 44%;

    padding-top: 1.4%;
    padding-bottom: 1.8%;
    padding-left: 2%;
    padding-right: 2%;
    
    background-color: gray;
    color: white;
    
    -moz-box-shadow: 0 0 20px 3px #fff;
    -webkit-box-shadow: 0 0 20px 3px #fff;
    box-shadow: 0 0 20px 3px #fff;
    border-radius: 20px;
}


/* CUSTOM SCROLLBAR - START */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ddd; 
    border-radius: 3px;
}
/* CUSTOM SCROLLBAR - END */